<header class="header">
  <div class="header-container">
    <div class="header-top">
      <div class="logo">
        <a href="/">
          <img src="/assets/imgs/logo.svg" alt="" />
          <h2>Watchtower ONLINE LIBRARY</h2>
        </a>
      </div>
      <div class="rest"></div>
    </div>

    <%- include('_searchbar') %>
  </div>
  <%- include('_menu') %>
</header>