<ul class="main-menu">
  <li class="<%= currentTab==='home' ? 'active' : '' %>">
    <a href="/"><img src="/assets/imgs/home.svg" class="icon" alt="" />home</a>
  </li>
  <li class="<%= currentTab==='bible' ? 'active' : '' %>">
    <a href="/bible"><img src="/assets/imgs/book.svg" class="icon" alt="" />bible</a>
  </li>
</ul>