<nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: flex; justify-content: space-between;">
  <div id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/admin/daily">Daily Articles</a>

      <a class="nav-item nav-link" href="/admin/books">Books</a>
    </div>
  </div>
  <form action="/admin/logout" method="POST">
    <button type="submit" class="btn btn-danger">Logout</button>
  </form>
</nav>