<div class="searchbar">
  <form action="/bible/search" method="POST">
    <input name="keyword" type="search" class="search-input" placeholder="Enter Topic" />
    <button type="submit" class="search-button"><span class="text">SEARCH</span><span class="icon"><svg width="29"
          height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12" cy="12" r="11.5" stroke="black" stroke-opacity="0.44" />
          <line x1="20.3536" y1="20.6464" x2="28.3536" y2="28.6464" stroke="black" stroke-opacity="0.44" />
        </svg>
      </span> </button>
  </form>
</div>